::ng-deep .chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

::ng-deep .svg {
  rect {
    fill: steelblue;
  }
  text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }
}

::ng-deep .chart-o {
  .bar {
    fill: steelblue;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }
}
